/* General Styles */
* {
    background-color: #1C1C1C;
    color: white;
    margin: 0px;
    padding: 0px;
    border: none;
    /* border: red 1px solid; */
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

.taskListContainer, .timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
   text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* TASKS */
.taskListContainer {
    width: 900px;
}

#tasks {
    font-size: 3em;
    font-weight: 500;
    width: 900px;
    cursor: pointer;
    margin-bottom: 1em;
    list-style-type:none; /* Remove Roman numerals from list items */
}

.taskInputContainer {
    display: flex;
}
    
#taskCount {
    width: 100px;
    font-size: 3em;
    font-weight: 500;
    flex: 1 0 0;
}

#taskInput {
    flex: 0 1 0;
    width: 100%;
    /* text-align: center; */
    width: 800px;
    font-size: 3em;
    font-weight: 500;
}

/* Task completed style */
.completed-task {
    text-decoration: line-through;
    color: #FF4F00;
}

/* TIMER */
.timerContainer button {
    border: 8px solid white;
    border-radius: 24px;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.timerContainer button.active {
    border-color: rgba(255, 79, 0, 0); /* Invisible when active */
}

.timerContainer button.inactive {
    border-color: white; /* Default border color */
}

#clock, #timer {
    font-size: 9em;
    font-weight: 800;
}

.dots-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rowOne, .rowTwo, .rowThree {
    display: flex;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 1em;
    opacity: 0;
}

#startButton.active, #pauseButton.active {
    border-color: rgba(255, 79, 0, 0);
}

.size-6 {
    width: 6em;
    height: 6em;
}

#pomodoroCounter {
    font-size: 3em;
    font-weight: 500;
    margin: 1em;
}

button {
    margin: 0.5em;
}

.pomodoro-text {
    color: #FF4F00;
}

.break-text {
    color: #4CAF50;
}
